* {
    margin: 0;
    padding: 0;
    font-family: 'Koulen', cursive;
    font-size: 1.1rem;
}

svg {
    height: 25px;
    padding: 0px 10px;
}

table {
    margin: 50px auto;
    border-collapse: collapse;
    z-index: 1;
}

li {
    display: inline;
    opacity: 0.6;
    transition-duration: 200ms;
}

#clear,
#run {
    opacity: 1;
}

td {
    border: 1px solid;
    border-color: pink;
    width: 30px;
    height: 30px;
    transition-duration: 250ms;
}

button {
    padding: 0px 5px;
    border: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 25px;
}

.menu {
    display: flex;
    flex-direction: row;
}
